.row
  .col-md-6.col-md-offset-3
    %h2 Sign Up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .row
        .form-group
          .col-md-2
            = f.label :email, class: "control-label"
          .col-md-10
            = f.email_field :email, autofocus: true, autocomplete: "email"
      .form-group
        .row
          .col-md-2
            = f.label :name, class: "control-label"
          .col-md-10
            = f.text_field :name
      .form-group
        .row
          .col-md-2
            = f.label :password, class: "control-label"
          .col-md-10
            - if @minimum_password_length
              = f.password_field :password, autocomplete: "new-password"
              %br/
              %em
                (#{@minimum_password_length} characters minimum)
      .form-group
        .row
          .col-md-2
            = f.label :password_confirmation, class: "control-label"
          .col-md-10
            = f.password_field :password_confirmation, autocomplete: "new-password"
      .form-group
        .col-md-offset-2.col-md-10
          = f.submit "Sign up", class: "btn btn-primary btn-block"

= render "devise/shared/links"

// %h2 Sign up
// = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
//   = devise_error_messages!
//   .field
//     = f.label :email
//     %br/
//     = f.email_field :email, autofocus: true, autocomplete: "email"
//   .field
//     = f.label :name
//     %br/
//     = f.text_field :name
//   .field
//     = f.label :password
//     - if @minimum_password_length
//       %em
//         (#{@minimum_password_length} characters minimum)
//     %br/
//     = f.password_field :password, autocomplete: "new-password"
//   .field
//     = f.label :password_confirmation
//     %br/
//     = f.password_field :password_confirmation, autocomplete: "new-password"
//   .actions
//     = f.submit "Sign up"
// = render "devise/shared/links"
