%p#notice= notice
%h1 Authors
%table
  %thead
    %tr
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @authors.each do |author|
      %tr
        %td= author.name
        %td= link_to 'Show', author
        %td= link_to 'Edit', edit_author_path(author)
        %td= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Author', new_author_path
