%p#notice= notice
%h2= @author.name
= link_to '編集', edit_author_path(@author)
.row
  - @author.books.each do |book|
    .col-2.p-4
      - if book.cover.present?
        = image_tag book.cover.url, class: "img-thumbnail"
      - else
        = image_tag "dummy.png", class: "img-thumbnail"
      %p= link_to book.name, book
      %p= book.author.name
      - if book.reviews.present?
        = ratystars(book.score, true)
        %br
        = "(" + book.reviews.count.to_s + "件のレビュー)"

