= form_with(model: book, local: true) do |form|
  - if book.errors.any?
    #error_explanation
      %h2
        = pluralize(book.errors.count, "error")
        prohibited this book from being saved:
      %ul
        - book.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :author_id
    = form.select :author_id, @authors_array
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :cover
    = form.file_field :cover, accept: 'image/jpeg,image/gif,image/png'
  %div
    = image_tag(@book.cover.url) if @book.cover.present?
  .actions
    = form.submit
:javascript
  $('#book_cover').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 1) {
      alert('Maximum file size is 1MB. Please choose a smaller file.');
    }
  });
