%h1 書籍一覧
.row.align-items-center.mb-1
  .col-4
    = search_form_for @q do |f|
      = f.search_field :name_cont
      = f.submit
  .col-8
    = paginate @books
  // .col-1
  //   = link_to new_book_path do
  //     %i.fas.fa-plus

.row.mb-1
  - @books.each do |book|
    .col-3.p-4
      - if book.cover.present?
        = image_tag book.cover.url, class: "img-thumbnail"
      - else
        = image_tag "dummy.png", class: "img-thumbnail"
      %p= link_to book.name, book
      %p= book.author.name
      - if book.reviews.present?
        = ratystars(book.score, true)
        %br
        = "(" + book.reviews.count.to_s + "件のレビュー)"
      %p
        = link_to '編集', edit_book_path(book), class: "btn btn-info btn-xs"
        = link_to '削除', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs"

= link_to '本を登録する', new_book_path


// .modal{id: "myModal", :role => "dialog", :tabindex => "-1"}
//   .modal-dialog{:role => "document"}
//     .modal-content
//       .modal-header
//         %h5.modal-title Modal title
//         %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
//           %span{"aria-hidden" => "true"} ×
//       .modal-body
//         %p Modal body text goes here.
//       .modal-footer
//         %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
//         %button.btn.btn-primary{:type => "button"} Save changes
