.row
  .col-4
    - if @book.cover.present?
      = image_tag(@book.cover.url)
    - else
      = image_tag("dummy.png")
  .col-6
    %h2
      = @book.name
    %h4 
      = link_to @book.author.name, @book.author
    %div
      - if @book.reviews.present?
        = ratystars(@book.reviews.average(:score).floor(2), true)
        .mt-5
          - @book.reviews.each do |review|
            .card.mb-2
              .card-header
                .row
                  .mr-auto.ml-3
                    %strong
                      = review.user.name + " さん"
                      = ratystars(review.score)
                  .ml-auto
                  - if user_signed_in? && review.user == current_user
                    %span.mx-1=link_to "編集", edit_book_review_path(@book,review)
                    %span.mx-1=link_to "削除", [@book,review], method: :delete, data: { confirm: 'Are you sure?' }
              .card-body
                = raw review.comment.gsub(/\r\n|\r|\n/, "<br />")
      - else
        まだレビューはありません。
      - if user_signed_in? && @book.reviews.where(user_id: current_user.id).present?
      - else
        = link_to 'レビューを書く', new_book_review_path(@book)

= link_to 'Edit', edit_book_path(@book)
|
= link_to 'Back', books_path

:javascript
  $('#star-rating').raty({
    path: '/assets/',
    click: 
      function(score, e) {
        $("#book_rating").val(score)
      }
  });