= form_with(model: [@book, @review], local: true) do |f|
  - if @review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - @review.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :score
    = f.hidden_field :score, id: :book_rating
    #star-rating

  .field
    = f.label :comment
    = f.text_area :comment, class: "form-control", rows: "5" 
  .actions
    = f.submit '投稿する'
