%h1
  = @book.name

%table
  %thead
    %tr
      %th User
      %th Score
      %th Comment
      %th
      %th
      %th

  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.user.email
        %td= review.score
        %td= review.comment
        %td= link_to 'Show', book_review_path(@book, review)
        %td= link_to 'Edit', edit_book_review_path(@book, review)
        %td= link_to 'Destroy', book_review_path(@book, review), method: :delete, data: { confirm: 'Are you sure?' }

%br

// = link_to 'New Review', new_book_review_path
