%p
  %b Book:
  = @review.book.name
%p
  %b User:
  = @review.user.email
%p
  %b Score:
  = @review.score
%p
  %b Comment:
  = @review.comment

= link_to 'Edit', edit_book_review_path(@book, @review)
\|
= link_to 'Back', @book
